<div class="container">
    <h1>
        <svg class="icon" aria-hidden="true">
            <use xlink:href="/images/sprite.svg#apps"></use>
        </svg>
        {{ title }}
    </h1>
    <button class="btn" id="counter"></button>

    <div class="row">
        <div class="col-6">
            123
        </div>
        <div class="col-6">
            123
        </div>
    </div>
</div>
