@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap");

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/gilroy/Gilroy-Regular.woff2") format("woff2"),
    url("/fonts/gilroy/Gilroy-Regular.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/gilroy/Gilroy-Bold.woff2") format("woff2"),
    url("/fonts/gilroy/Gilroy-Bold.woff") format("woff");
}
