body {
  @mq (<md) {
    font-size: 12px;
  }
  @mq (>sm, <xl) {
    color: var(--color-primary);
  }

  font-family: var(--font-primary);
  font-size: 18px;
}

:--heading {
  font-family: var(--font-secondary);
}

input {
  &::placeholder {
    color: var(--color-secondary);
  }
}

ul,
ol {
  @mixin ul-reset;
}
