:root {
  --font-primary: "Gilroy", sans-serif;
  --font-secondary: "Source Serif Pro", serif;

  --color-primary: #3b6eff;
  --color-secondary: #00e927;
}

@custom-selector :--heading :--top-heading, :--low-heading;
@custom-selector :--top-heading h1, h2, h3;
@custom-selector :--low-heading h4, h5, h6;

@define-mixin ul-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}
