:root {
    --font-primary: "Gilroy", sans-serif;
    --font-secondary: "Source Serif Pro", serif;

    --color-primary: #3b6eff;
    --color-secondary: #00e927;

    --grid-gutter-x: 30px;
}

@custom-media --sm-up (width >= 576px);
@custom-media --md-up (width >= 768px);
@custom-media --lg-up (width >= 992px);
@custom-media --xl-up (width >= 1200px);
@custom-media --xxl-up (width >= 1400px);
